<div class="page-wrapper">
    <div class="container-fluid">
        <div class="column">

            <div class="col-3">
                <div class="card">
                    <div class="card card-body ">
                        <h2>Org Lenguajes y Compiladores 2</h2>
                        <h3>Creditos: 5</h3>
                        <h3>Codigo: 781</h3>
                        <h3>Semestre: 6to Semestre</h3>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="card card-body ">
                        <h2>Profesores que han impartido el curso</h2>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre </th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Calificacion</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <th scope="row"><strong>1</strong></th>
                                    <td style="color: black;"><strong>Nombre</strong></td>
                                    <td style="color: black;"><strong>apellido</strong></td>
                                    <td style="color:green;">
                                        <strong>7.5/10</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row"><strong>2</strong></th>
                                    <td style="color: black;"><strong>Nombre</strong></td>
                                    <td style="color: black;"><strong>apellido</strong></td>
                                    <td style="color:green;">
                                        <strong>7.5/10</strong>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row"><strong>3</strong></th>
                                    <td style="color: black;"><strong>Nombre</strong></td>
                                    <td style="color: black;"><strong>apellido</strong></td>
                                    <td style="color:green;">
                                        <strong>7.5/10</strong>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row"><strong>4</strong></th>
                                    <td style="color: black;"><strong>Nombre</strong></td>
                                    <td style="color: black;"><strong>apellido</strong></td>
                                    <td style="color:green;">
                                        <strong>7.5/10</strong>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="col-md-10 ">
                            <div>
                                <button class="btn btn-secondary">
                                    Anteriores
                                </button>

                                <button class="btn btn-secondary">
                                    Siguientes
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <h2>Comentarios</h2>
                    <!-- Contenedor Principal -->
                    <div class="comments-container margenes">
                        <ul id="comments-list" class="comments-list">
                            <li>
                                <div class="comment-main-level">
                                    <!-- Avatar -->
                                    <div class="comment-avatar"><img src="https://steamuserimages-a.akamaihd.net/ugc/972104754098760088/0169CD22B086E1E847B45DF425DD3F71CB30C234/" alt=""></div>

                                    <!-- Contenedor del Comentario -->
                                    <div class="comment-box">
                                        <div class="comment-head">
                                            <h6 class="comment-name">Agustin Ortiz</h6>
                                            <span>hace 20 minutos</span>
                                        </div>
                                        <div class="comment-content">
                                            Sale izi con espino sssss
                                        </div>
                                    </div>
                                </div>
                                <!-- Respuestas de los comentarios -->
                            </li>

                            <li>
                                <div class="comment-main-level">
                                    <!-- Avatar -->
                                    <div class="comment-avatar">
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQlc7bF4IuiQlbYXztRKOWzmnoRSFftLc0eY8Lkj8n8LQ&usqp=CAU&ec=45695923">
                                    </div>
                                    <!-- Contenedor del Comentario -->
                                    <div class="comment-box">
                                        <div class="comment-head">
                                            <h6 class="comment-name">Lorena Rojero </h6>
                                            <span>hace 10 minutos</span>
                                        </div>
                                        <div class="comment-content">
                                            Confirmo :''v
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="comment-main-level">
                                    <!-- Avatar -->
                                    <div class="comment-avatar">
                                        <img src="https://phantom-elmundo.unidadeditorial.es/afeb1cbb9095d9d2a532c3aa06625601/crop/82x0/1227x765/resize/746/f/jpg/assets/multimedia/imagenes/2020/05/10/15891358002692.jpg">
                                    </div>
                                    <!-- Contenedor del Comentario -->
                                    <div class="comment-box">
                                        <div class="comment-head">
                                            <h6 class="comment-name">Walter Morales</h6>
                                            <span>hace 5 minutos</span>
                                        </div>
                                        <div class="comment-content">
                                            Sale en Vacas
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>




    </div>
</div>