<div class="page-wrapper">
    <div class="container-fluid">
        <div class="column">

            <div class="col-3">
                <div class="card">
                    <div class="card card-body ">
                        <h2>Org Lenguajes y Compiladores 2</h2>
                        <h3>Creditos: 5</h3>
                        <h3>Codigo: 781</h3>
                        <h3>Semestre: 6to Semestre</h3>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <h2>Comentarios</h2>
                    <!-- Contenedor Principal -->
                    <div class="comments-container margenes">
                        <ul id="comments-list" class="comments-list">
                            <li>
                                <div class="comment-main-level">
                                    <!-- Avatar -->
                                    <div class="comment-avatar"><img src="https://uybor.uz/borless/uybor/img/user-images/user_no_photo_512x512.png" alt=""></div>

                                    <!-- Contenedor del Comentario -->
                                    <div class="comment-box">
                                        <div class="comment-head">
                                            <h6 class="comment-name">Agustin Ortiz</h6>
                                            <span>hace 20 minutos</span>
                                        </div>
                                        <div class="comment-content">
                                            Primer Comentario
                                        </div>
                                    </div>
                                </div>
                                <!-- Respuestas de los comentarios -->
                            </li>

                            <li>
                                <div class="comment-main-level">
                                    <!-- Avatar -->
                                    <div class="comment-avatar">
                                        <img src="https://uybor.uz/borless/uybor/img/user-images/user_no_photo_512x512.png">
                                    </div>
                                    <!-- Contenedor del Comentario -->
                                    <div class="comment-box">
                                        <div class="comment-head">
                                            <h6 class="comment-name">Lorena Rojero </h6>
                                            <span>hace 10 minutos</span>
                                        </div>
                                        <div class="comment-content">
                                            Segundo Comentario
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="comment-main-level">
                                    <!-- Avatar -->
                                    <div class="comment-avatar">
                                        <img src="https://uybor.uz/borless/uybor/img/user-images/user_no_photo_512x512.png">
                                    </div>
                                    <!-- Contenedor del Comentario -->
                                    <div class="comment-box">
                                        <div class="comment-head">
                                            <h6 class="comment-name">Walter Morales</h6>
                                            <span>hace 5 minutos</span>
                                        </div>
                                        <div class="comment-content">
                                            Tercer Comentario
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>




    </div>
</div>