<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light" style="background-color: #000000;">

        <div class="navbar-collapse">

            <ul class="navbar-nav mr-auto">

            </ul>

            <ul class="navbar-nav my-lg-0">

                <li>
                    <div>

                        <button type="button" class="float-right btn btn-danger">Salir <i class="mdi mdi-power" ></i></button>

                    </div>

                </li>


            </ul>
        </div>
    </nav>
</header>